@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&family=Text+Me+One');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: #000000;
    color: #BDE0FE;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-bottom: 20px;
    padding-top: 180px;
}

.icon-img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    cursor: default;
    font-family: 'Text Me One';
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.introduction {
    cursor: default;
    font-size: 15px;
    margin-bottom: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 5px 0;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.link-button img {
    margin-top: 5px;
}

@media (any-pointer: coarse), (any-pointer: none) {
	.border-svg {
		display: none;
	}
}

@media (any-pointer: fine) {
	.link-button {
		transition: background-color 1s;
	}
	.link-button:hover {
		background-color: rgba(255, 255, 255, 0.1);
		transform: translateY(-5px);
		transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
	}

	.border-svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

	.border-svg path {
		fill: none;
		stroke: #BDE0FE;
		stroke-width: 2;
		stroke-dasharray: 550; 
		stroke-dashoffset: 550; 
		transition: stroke-dashoffset 2s cubic-bezier(0.66, 0, 0.24, 1);
	}

	.link-button:hover .border-svg path {
		stroke-dashoffset: 0; 
	}
}
footer {
    font-size: 13px;
    color: white;
    word-wrap: break-all;
    width: 100%;
    margin-top: auto;
}

footer a {
    color: #BDE0FE;
    text-decoration: none;
    display: inline-block;
}

footer a:hover {
    color: #bde0fe9f;
}
