@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&family=Text+Me+One');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Text Me One';
    background-color: #000000;
    color: #BDE0FE;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: underline !important;
    color: inherit;
}

a:visited {
    color: inherit;
}