@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&family=Text+Me+One');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: #000000;
    color: #BDE0FE;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-bottom: 20px;
    padding-top: 180px;
}

.icon-img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    cursor: default;
    font-family: 'Text Me One';
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.introduction {
    cursor: default;
    font-size: 15px;
    margin-bottom: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 5px 0;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
}

.link-button img {
    margin-top: 5px;
}

.link-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
}

footer {
    font-size: 13px;
    color: white;
    word-wrap: break-all;
    width: 100%;
    margin-top: auto;
}

footer a {
    color: #BDE0FE;
    text-decoration: none;
    display: inline-block;
}

footer a:hover {
    color: #bde0fe9f;
}
